@{
    if (ShowPersonName)
    {
        <h1>@Person.FirstName @Person.LastName</h1>
    }
}

<table class="table table-striped">
    <tbody>
        <tr>
            <td><strong>First Name</strong></td>
            <td>@Person.FirstName</td>
        </tr>
        <tr>
            <td><strong>Last Name</strong></td>
            <td>@Person.LastName</td>
        </tr>
        <tr>
            <td><strong>Skillset</strong></td>
            <td>@(!string.IsNullOrWhiteSpace(Person.Skillset) ? Person.Skillset : "None declared")</td>
        </tr>
        <tr>
            <td><strong>Email Address</strong></td>
            <td>@Person.EmailAddress</td>
        </tr>
        <tr>
            <td><strong>Date of Birth</strong></td>
            <td>
                @(Person.DateOfBirth != null ? Person.DateOfBirth.Value.ToShortDateString(): "Not Stated")
            </td>
        </tr>
        <tr>
            <td><strong>Country</strong></td>
            <td>
                <a href="/data/country/details/@Person.CountryId">
                    @Person.Country.CountryName
                </a>
            </td>
        </tr>
        <tr>
            <td><strong>Status</strong></td>
            <td>
                @Person.Status.StatusName
            </td>
        </tr>
        <tr>
            <td><strong>Favourite Colour</strong></td>
            <td>
                @(Person.FavouriteColour != null ? Person.FavouriteColour.ColourName : "None")
            </td>
        </tr>
    <tr>
        <td><strong>Address</strong></td>
        <td>
            <a class="btn btn-primary" href="data/addresses/index/@Person.PersonId">Manage</a>
            @{
                var address = Person.Address;
                var a = Person.Address != null
                    ? $"{address.AddressLine1} {address.AddressLine2} {address.Town} {address.Postcode} ({address.AddressType.AddressTypeName})"
                    : "No address given";
                @(a)
            }
        </td>
    </tr>
    <tr>
        <td><strong>Picture</strong></td>
        <td>
            @{
                if (Person.Picture != null)
                {
                    <img src=@($"data:image/jpg;base64,{Convert.ToBase64String(Person.Picture)}") alt="Picture" />
                }
                else
                {
                    @("No picture uploaded")
                }
            }
        </td>
    </tr>
    </tbody>
</table>