@page "/data/person/create"

@using PersonManagerUI.CustomControls

@if (Countries == null || Colours == null || Statuses == null)
{
    return;
}

<h1>Create Person</h1>

<EditForm Model="@newPerson" OnValidSubmit="@InsertPerson">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>First Name</strong></td>
                <td><InputText id="firstName" @bind-Value="newPerson.FirstName" /></td>
            </tr>
            <tr>
                <td><strong>Last Name</strong></td>
                <td><InputText id="lastName" @bind-Value="newPerson.LastName" /></td>
            </tr>
            <tr>
                <td><strong>Email Address</strong></td>
                <td><InputText id="emailAddress" @bind-Value="newPerson.EmailAddress" /></td>
            </tr>
        <tr>
            <td><strong>Date of Birth</strong></td>
            <td><InputDate @bind-Value="newPerson.DateOfBirth" /></td>
        </tr>
        <tr>
            <td><strong>Country</strong></td>
            <td>
                <InputSelectNumber id="country" @bind-Value="newPerson.CountryId">
                    @foreach (var country in Countries)
                    {
                        <option value="@country.CountryId">@country.CountryName</option>
                    }
                </InputSelectNumber>
            </td>
        </tr>
        <tr>
            <td><strong>Status</strong></td>
            <td>
                <InputSelectNumber id="status" @bind-Value="newPerson.StatusId">
                    @foreach (var status in Statuses)
                    {
                        <option value="@status.StatusId">@status.StatusName</option>
                    }
                </InputSelectNumber>
            </td>
        </tr>
        <tr>
            <td><strong>Favourite Colour</strong></td>
            <td>
                <InputSelectNumber id="favouriteColour" @bind-Value="newPerson.FavouriteColourId">
                    @foreach (var colour in Colours)
                    {
                        <option value="@colour.ColourId">@colour.ColourName</option>
                    }
                </InputSelectNumber>
            </td>
        </tr>
        <tr>
            <td><strong>Picture</strong></td>
            <td><InputFile id="picture" OnChange="@LoadFile" /></td>
        </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button> <a href="/data/people/index">Cancel</a>

</EditForm>
