@page "/data/people/index"
@page "/data/people/index/{firstInitial}"

<PageTitle>People</PageTitle>

<h1>@header</h1>

<a href="/data/person/create" class="btn btn-primary">Add New Person</a>

<br />
<br />

<hr />
Filter:
<p>
    <ul class="list-group list-group-horizontal">
        @{
            <li class="list-group-item small active p-3" style="background-color: lightgray; border-color: black">
            <a href="/data/people/index" target="_top">All</a>
            </li>

            foreach (var initial in firstInitials)
            {
                <li class="list-group-item small active p-3" style="background-color: lightgray; border-color: black">
                <a href="/data/people/index/@initial" style="cursor: pointer" target="_top">
                        @initial
                    </a>
                </li>
            }
        }
    </ul>
</p>

<hr />

<h4>Current People</h4>

<input type="text" @bind-value="@searchTerm" />
<input type="button" value="Search" @onclick="@SearchPeople" />
<input type="button" value="Clear" @onclick="@ClearSearch" />

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th><a @onclick="() => SortGrid(FirstName)" style="cursor: pointer">First Name</a></th>
                <th><a @onclick="() => SortGrid(LastName)" style="cursor: pointer">Last Name</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>
                        <a class="btn btn-primary" href="/data/person/details/@person.PersonId">Details</a>
                        <a class="btn btn-primary" href="/data/person/edit/@person.PersonId">Edit</a>
                        <a class="btn btn-danger" href="/data/person/delete/@person.PersonId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
