@page "/data/mypersonmanager/savedurls/index"

<PageTitle>Saved Urls</PageTitle>

<h1>Saved Urls</h1>

<a href="data/mypersonmanager/savedurl/create" class="btn btn-primary">Add New Saved Url</a>

<br/><br/>

<h4>Current Saved Urls</h4>

@if (savedUrls == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Is External</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var savedUrl in savedUrls)
        {
            <tr>
                <td>@savedUrl.Title</td>
                <td>
                    @{
                        if (savedUrl.IsExternal)
                        {
                            <a href="@savedUrl.Url" target="_blank">@savedUrl.Url</a>
                        }
                        else
                        {
                            <a href="@savedUrl.Url">@savedUrl.Url</a>
                        }
                    }
                </td>
                <td>
                    @(savedUrl.IsExternal ? "Yes" : "No")
                </td>
                <td>
                    <a class="btn btn-primary" href="/data/mypersonmanager/savedurl/details/@savedUrl.UrlId">Details</a>
                    <a class="btn btn-primary" href="/data/mypersonmanager/savedurl/edit/@savedUrl.UrlId">Edit</a>
                    <a class="btn btn-danger" href="/data/mypersonmanager/savedurl/delete/@savedUrl.UrlId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}