@using DataAccessLibrary.Models

@{
    if (ShowPersonName)
    {
        <h1>@Person.FirstName @Person.LastName</h1>
    }
}

<table class="table table-striped">
    <tbody>
        <tr>
            <td><strong>First Name</strong></td>
            <td>@Person.FirstName</td>
        </tr>
        <tr>
            <td><strong>Last Name</strong></td>
            <td>@Person.LastName</td>
        </tr>
        <tr>
            <td><strong>Email Address</strong></td>
            <td>@Person.EmailAddress</td>
        </tr>
        <tr>
            <td><strong>Date of Birth</strong></td>
            <td>
                @(Person.DateOfBirth != null ? Person.DateOfBirth.Value.ToShortDateString(): "Not Stated")
            </td>
        </tr>
        <tr>
            <td><strong>Country</strong></td>
            <td>
                <a href="/data/country/details/@Person.CountryId">
                    @Person.Country.CountryName
                </a>
            </td>
        </tr>
    <tr>
        <td><strong>Status</strong></td>
        <td>
            @Person.Status.StatusName
        </td>
    </tr>
    <tr>
        <td><strong>Favourite Colour</strong></td>
        <td>
            @(Person.FavouriteColour != null ? Person.FavouriteColour.ColourName : "None")
        </td>
    </tr>
    </tbody>
</table>

@code {

    [Parameter]
    public PersonModel Person { get; set; }

    [Parameter]
    public bool ShowPersonName { get; set; }
}
