@page "/data/mypersonmanager/savedurls/index"
@inherits SavedUrlBasePageClass

<PageTitle>Saved Urls</PageTitle>

<h1>Saved Urls</h1>

<a href="data/mypersonmanager/savedurl/create" class="btn btn-primary">Add New Saved Url</a>

<br/><br/>

<h4>Current Saved Urls</h4>

@if (SavedUrls == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Is External</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var SavedUrl in SavedUrls)
        {
            <tr>
                    <td>@SavedUrl.Title</td>
                <td>
                    @{
                            if (SavedUrl.IsExternal)
                        {
                                <a href="@SavedUrl.Url" target="_blank">@SavedUrl.Url</a>
                        }
                        else
                        {
                                <a href="@SavedUrl.Url">@SavedUrl.Url</a>
                        }
                    }
                </td>
                <td>
                        @(SavedUrl.IsExternal ? "Yes" : "No")
                </td>
                <td>
                        <a class="btn btn-primary" href="/data/mypersonmanager/savedurl/details/@SavedUrl.UrlId">Details</a>
                        <a class="btn btn-primary" href="/data/mypersonmanager/savedurl/edit/@SavedUrl.UrlId">Edit</a>
                        <a class="btn btn-danger" href="/data/mypersonmanager/savedurl/delete/@SavedUrl.UrlId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}