@page "/data/mypersonmanager/reminder/create"

@inherits ReminderBasePageClass

<PageTitle>Create Reminder</PageTitle>

<h3>Create Reminder</h3>

<EditForm Model="@DisplayReminder" OnValidSubmit="InsertReminder">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Title</strong></td>
                <td><InputText id="title" @bind-Value="@DisplayReminder.Title" /></td>
            </tr>
            <tr>
                <td><strong>Reminder Date</strong></td>
                <td><InputDate id="reminderDate" @bind-Value="@DisplayReminder.ReminderDate" /></td>
            </tr>
            <tr>
                <td><strong>Notes</strong></td>
                <td><InputTextArea id="notes" @bind-Value="@DisplayReminder.Notes" /></td>
            </tr>
            <tr>
                <td><strong>Is Current</strong></td>
                <td><InputCheckbox id="isCurrent" @bind-Value="@DisplayReminder.IsCurrent" /></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Submit</button> <a href="/data/mypersonmanager/reminders/index">Cancel</a>

</EditForm>
